* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-color: #322153;
  --primary-color: #34cb79;  
}

html {
font-family: 'Contrail One', cursive;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: var(--title-color);
}

a {
  text-decoration: none;
}

